<div class="problem__section project__section">
  <h3 class="section__title">Problem Statement</h3>
  <p class="section__text">
    Many individuals lack the necessary skills to effectively respond to
    emergency situations, leading to increased risks and potential harm.
    Traditional training methods often lack realism and fail to adequately
    prepare individuals for the stress and complexity of real-life emergencies.
    Existing solutions are often expensive, time-consuming, or inaccessible to a
    wide range of users.
  </p>
  <img
    class="section__img"
    src="assets/media/images/project/problem.png"
    alt="problem-img"
    loading="lazy"
  />
</div>
