<div class="problem__section project__section">
  <h3 class="section__title">Project Goals</h3>
  <p class="section__text">
    Our primary goals are to enhance emergency preparedness by providing
    accessible and effective VR training simulations. We aim to improve response
    times, reduce errors, and increase confidence in handling emergency
    situations. We also seek to create a scalable and adaptable platform for a
    wide range of training needs.
  </p>
  <img
    class="section__img"
    src="assets/media/images/project/goals.png"
    alt="problem-img"
    loading="lazy"
  />
</div>
