@import "global";
.home__image {
  position: relative;
  img {
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 0.5rem;
  }

  .img__text {
    position: absolute;
    left: 24px;
    bottom: 24px;
    display: flex;
    flex-direction: column;
    background-color: rgba($color: $dark-background, $alpha: 0.5);
    padding: 1rem 2rem;
    border-radius: 1rem;
    h2 {
      position: relative;
      font-size: 3rem;
      line-height: 60px;
      letter-spacing: -2px;
      font-weight: bold;
      color: $white-color;
    }

    p {
      position: relative;
      font-size: 1rem;
      line-height: 24px;
      color: $light-green;
    }
  }

  @media screen and (max-width: $max_tablet) {
    .img__text {
      left: 0;
      bottom: 0;
      padding: 0.5rem 1rem;
      border-radius: 0;
      h2 {
        font-size: 2.5rem;
        line-height: 48px;
      }
    }
  }

  @media screen and (max-width: $max_mobile) {
    img {
      aspect-ratio: 1;
    }
    .img__text {
      left: 0;
      bottom: 0;
      border-radius: 0;

      h2 {
        font-size: 1.5rem;
        line-height: 30px;
      }

      p {
        font-size: 0.875rem;
        line-height: 20px;
      }
    }
  }

  @media screen and (max-width: $max_small_mobile) {
    .img__text {
      left: 12px;
      bottom: 12px;

      h2 {
        font-size: 1.25rem;
        line-height: 24px;
      }

      p {
        font-size: 0.75rem;
        line-height: 16px;
      }
    }
  }
}
