<div class="home__page">
  <div class="home__image">
    <img src="assets/media/images/home.png" alt="home-img" />

    <div class="img__text">
      <h2>VR Emergency Training Simulation</h2>
      <p>
        Our project aims to address the challenges of emergency situations
        through innovative solutions.
      </p>
    </div>
  </div>

  <div class="text__Section mt-[36px]">
    <h3 class="section__header">Project Overview</h3>

    <p class="section__paragraph">
      The VR Emergency Training Simulation called <span class="green__text">Nexus</span> is an innovative platform
      designed to educate users on how to respond to critical emergency
      situations through virtual reality experiences. It features
      three primary environments: Home, where users learn to handle fires in
      different areas of the house; Factory, where employees train for scenarios
      like fire incidents and workplace injuries; and Car, where drivers
      practice controlling vehicles during brake failures. The project
      integrates a mobile application that provides user authentication,
      subscription management, educational resources, progress tracking, and
      certifications, making safety training accessible and engaging for
      individuals and organizations.
    </p>
  </div>
</div>
