<div class="home__page">
  <app-home-image></app-home-image>

  <div class="text__Section mt-[36px]">
    <h3 class="section__header">Project Overview</h3>

    <p class="section__paragraph">
      The VR Emergency Training Simulation called
      <span class="green__text">Nexus</span> is an innovative platform designed
      to educate users on how to respond to critical
      <span class="green__text">emergency situations</span> through
      <span class="green__text">virtual reality</span> experiences. It features
      <span class="green__text">three</span> primary environments:
      <span class="green__text">Home</span>, where users learn to handle fires
      in different areas of the house; <span class="green__text">Factory</span>,
      where employees train for scenarios like fire incidents and workplace
      injuries; and <span class="green__text">Car</span>, where drivers practice
      controlling vehicles during brake failures. The project integrates a
      <span class="green__text">mobile application</span> that provides user
      authentication, subscription management, educational resources, progress
      tracking, and certifications, making
      <span class="green__text">safety</span> training accessible and engaging
      for <span class="green__text">individuals</span> and
      <span class="green__text">organizations</span>.
    </p>
  </div>
</div>
