@import "global";

.team__member {
  color: $white-color;

  .member__image {
    flex: 1;
    display: flex;
    justify-content: center;
    max-height: 500px;
    position: relative;

    img {
      border: 5px solid $primary-green;
      animation: profile_animate 8s ease-in-out infinite;
      aspect-ratio: 1;
      height: 500px;
      border-radius: 0.5rem;
    }
  }

  .member__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .part__header {
      font-size: 18px;
      font-weight: 600;
    }
    .member__name {
      font-size: 2rem;
      font-weight: 700;
      text-transform: capitalize;
    }

    .member__desc {
      color: $light-green;
      max-width: 500px;
    }

    .member__badges {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;

      span {
        padding: 0.25rem 0.5rem;
        background-color: $primary-green;
        border-radius: 10rem;
        color: $black-color;
        text-transform: capitalize;
      }
    }

    .member__social {
      display: flex;
      gap: 0.5rem;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $primary-green;
        color: $dark-background;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .member__content {
      .member__desc {
        max-width: unset;
      }
    }
  }
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -webkit-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -moz-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -ms-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -o-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    -webkit-border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    -moz-border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    -ms-border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    -o-border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -webkit-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -moz-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -ms-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -o-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
