<footer class="py-5 mt-10 flex flex-col gap-6">
  <div class="flex items-center justify-between gap-2">
    <a class="primary__btn" routerLink="/project">Project</a>
    <a class="primary__btn" routerLink="/team">Team</a>
  </div>

  <div
    class="social__links hoverenable__text flex justify-center items-center gap-4"
  >
    <a
      href="https://www.instagram.com/nexus_vr10?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      target="_blank"
      rel="noopener noreferrer"
    >
      <ng-icon name="faBrandInstagram"></ng-icon>
    </a>
    <a
      href="https://www.linkedin.com/company/nexuscsvr"
      target="_blank"
      rel="noopener noreferrer"
    >
      <ng-icon name="faBrandLinkedinIn"></ng-icon>
    </a>
  </div>

  <p class="text-center">
    &copy;2025 <span class="logo__word">Nexus</span>. All rights reserved.
  </p>
</footer>
