@import "global";

footer {
  border-top: 1px solid $light-green;
  color: $light-green;
  font-size: 1rem;
  line-height: 24px;

  .pages__links {
    a {
      display: block;
      padding: 0.5rem 1rem;
      background-color: $primary-green;
      color: $black-color;
      border-radius: 0.25rem;
    }
  }
  .hoverenable__text {
    a {
      cursor: pointer;
      &:hover {
        color: $primary-green;
        transition: 0.3s linear;
      }
    }
  }

  .logo__word {
    color: $primary-green;
  }
}
