/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/styles.scss";
@import "global";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: $dark-background;
}

.text__Section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .section__header {
    color: $white-color;
    font-size: 1.375rem;
    line-height: 28px;
    font-weight: bold;
  }

  .section__paragraph {
    color: $white-color;
    font-size: 1rem;
    line-height: 24px;

    &.green__text {
      color: $primary-green;
    }
  }
}
