<div class="problem__section project__section">
  <h3 class="section__title">Potential Impact</h3>
  <p class="section__text">
    The VR Emergency Training Simulation has the potential to significantly
    improve emergency response capabilities, reduce risks, and save lives. By
    providing realistic and interactive training, we can empower individuals to
    react effectively in critical situations, leading to better outcomes and
    increased safety for themselves and others.
  </p>
  <img
    class="section__img"
    src="assets/media/images/project/impact.png"
    alt="problem-img"
  />
</div>
